<%- include('./components/header') %>

<form method="POST" action='/add-article'>
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" name='title' class="form-control" id="title" aria-describedby="emailHelp" placeholder=" Article title">
      <% if(err.title) {%>
        <p class="error"><%= err.title.message%></p>
      <% } %>
    </div>
    <div class="mb-3">
      <label class="form-label">Article</label>
      <input type="textarea" name='article' class="form-control" id="article" placeholder="Article body">
      <% if(err.article) {%>
        <p class="error"><%= err.article.message%></p>
      <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include('./components/footer') %>